h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
    color: inherit;
    margin-right: 0;
}

h1 a::before,
h2 a::before,
h3 a::before,
h4 a::before,
h5 a::before,
h6 a::before {
    content: '';
    font-size: 30px;
    margin-left: -24px;
    padding-right: 0;
    opacity: .3;
    transition: .1s;
}

h1:hover a::before,
h2:hover a::before,
h3:hover a::before,
h4:hover a::before,
h5:hover a::before,
h6:hover a::before {
    opacity: 1;
    font-size: 30px;
}